.tasks-list {
    spacing: 4px;
}

.task-box {
    padding: 4px 0;
    spacing: 8px;
}

.task-radio {
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 99px;
    background-color: transparent;
}

.task-radio:hover {
    border-color: rgba(255, 255, 255, 0.9);
}

.task-radio-check {
    color: rgba(255, 255, 255, 0.9);
}

.task-radio-completed {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

.task-label {
    font-size: 14px;
}

.task-label-completed {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.4);
}

.task-description {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 1px;
}

.google-tasks-add-button {
    border-radius: 99px;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.google-tasks-add-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
}

.google-tasks-dialog-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.google-tasks-dialog-entry {
    min-width: 300px;
}

.task-edit-button {
    border-radius: 99px;
    width: 20px;
    height: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.task-edit-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
}
